.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav {padding: 5px; margin: 10px;}
nav li{display: inline;}
nav li a{color: black;}

body{
    background-color:lightgray;
    color: black;
}